body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Monofett', cursive;
  font-size: 10vh;
}

.forms {
  font-family: 'VT323', monospace;
  margin-top: 40vh;
}

.cat-output {
  height: 300px;
  width: 400px;
}

.cat-ouput-inner {
  height: 100%;
  width: 100%;
}

.cat-ouput-inner img {
  object-fit: cover;
}
